.chat-container {
  flex-flow: column;
  justify-content: space-around;
}

.chat-messages {
  padding: 1rem;
  margin-bottom: 2rem;
  margin: 0 10%;
  overflow: auto;
}

.input-form-host {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  left: 10%;
  right: 10%;
  bottom: 0;
  width: 80%;
}
