.chat-container {
  height: 90vh;
  flex-flow: column;
  justify-content: space-around;
}

.chat-messages {
  padding: 1rem;
  margin-bottom: 2rem;
  overflow: auto;
}

.input-form-host {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 80%;
}
